.background-div{
    grid-template-columns: auto;
   
 }
 .first-img{
    width:70%;
    height:auto;
 }
 .text-left{
    text-align:left;
 }
 .text-right{
    text-align:right;
 }
 .text-center{
    text-align:center;
 }
 
 
 .tribute-info{
     
         margin: auto;
         width: 70%;
         padding: 20px;
         text-align:left;
       
   }
   .adjustment2{
     
     margin: auto;
     width: 60%;
     padding: 20px;
   
 }
 .adjustment3{
     
     margin: auto;
     width: 60%;
     padding: 20px;
     font-weight:bold;
 }
 
 
 h1{
     text-align: center;
     text-shadow:0.5px 0.5px 10px rgb(68,113,150);
 }
 
 .img-background{
     justify-content:center;
     text-align:center;
 }

 img {
    display: inline-block;
    width: 100%; 
    height: auto;
}

html {
    background-color: rgb(186, 203, 217);
  }
  body{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
  }
  #nav-btn{
    background-color: white;
    text-align: center;
    padding: 10px; 
}
#btn{
    font-weight: bold;
    color: black;
    background-color: rgb(186, 203, 217);
    outline: none;
    border: none;
    font-size: 29px;
    padding: 10px;
    margin: 0;

  }
  a{
    color: black;
    margin: 20px;
    padding: 20px;
    text-shadow: 0.5px 0.5px 10px white;
    transition: .5s;

    
}
a:hover {
    background-color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px 20px rgb(186, 203, 217);


  }